{% extends 'base.html.twig' %}

{% block body %}
    <h1>event.index</h1>

    {% for event in events %}
        <p>
            {{ event.name }} - {{ event.description }}
            {% if app.user %}
                <a href="{{ path('admin.event_update', {id: event.id}) }}">Edit</a> -
                <a href="{{ path('admin.event_delete', {id: event.id, redirect: 'event.index'}) }}">Delete</a>
            {% endif %}
        </p>
    {% else %}
        <p>Pas d'évènement</p>
    {% endfor %}
{% endblock %}