{% extends 'base.html.twig' %}

{% block body %}
    <h1>Évènements</h1>

    <h2>En cours</h2>
    {% for event in eventsInProgress %}
        {% include 'includes/event.html.twig' %}
    {% else %}
        <p>Aucun évènement en cours.</p>
    {% endfor %}

    <h2>À venir</h2>
    {% for event in upcomingEvents %}
        {% include 'includes/event.html.twig' %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% set isAttendant = app.user in event.users %}
            <p><a href="{{ url('event.subscribe', {id: event.id}) }}">{{ isAttendant ? 'Ne participe plus' : 'Je participe' }}</a></p>
        {% endif %}
    {% else %}
        <p>Aucun évènement à venir.</p>
    {% endfor %}

    <a href="{{ path('home.index') }}">Accueil</a>
    <a href="{{ path('event.archives') }}">Archives</a>
{% endblock %}