{% extends 'base.html.twig' %}

{% block body %}
    <h1>event.index</h1>

    <h2>In progress</h2>
    {% for event in eventsInProgress %}
        {% include 'includes/event.html.twig' %}
    {% else %}
        <p>No event in progress</p>
    {% endfor %}

    <h2>Upcoming events</h2>
    {% for event in upcomingEvents %}
        {% include 'includes/event.html.twig' %}
    {% else %}
        <p>No upcoming event</p>
    {% endfor %}
{% endblock %}