{% extends 'admin/base.html.twig' %}

{% block admin_body %}
    <h1>event.delete</h1>
    <p>Do you really want to delete this event?</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ url('admin.event') }}">Back</a>
    <button type="submit">Delete</button>
    {{ form_end(form) }}
{% endblock %}