// Admin tabs
.admin-tabs {
  background: $main-black;
  ul.tabs {
    padding: 0;
    li {
      display: inline-block;
      a {
        color: ivory;
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        &:hover { background: lighten($main-black, 10%); }
      }
    }
  }
}

button {
  background: #dd4444;
  border: none;
  border-radius: 10px;
  color: ivory;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px 15px;
}

#admin-members {
  .validate-button { background: $main-black; }
  .reject-button { background: #dd4444; }
  .validate-button,
  .reject-button {
    color: ivory;
    display: inline-block;
    font-size: .8em;
    padding: 1px 5px;
    text-decoration: none;
  }
  .table-responsive { overflow: scroll; }
  table {
    border-collapse: collapse;
    width: 100%;
    .hidden { display: none; }
    .toggle-license {
      cursor: pointer;
      &:hover { color: lighten($main-black, 10%); }
    }
    a { text-decoration: none; }
    td, th {
      border: 1px solid #ddd;
      padding: 5px;
      text-align: center;
    }
  }
}

// Update members
#member-update {
  .grid {
    grid-gap: 0 30px;
    grid-template-columns: 1fr 3fr;
    @media #{$bigPhones} { grid-template-columns: 100%; }
    .picture {
      padding: 10px 0;
      img {
        height: 200px;
        width: 200px;
      }
      @media #{$smallPhones} { margin-bottom: 20px; }
    }
  }
  form {
    margin: 0 auto;
    label {
      display: inline-block;
      min-width: 150px;
      padding: 5px 0;
      @media #{$smallPhones} { min-width: 100%; }
    }
    input {
      border: none;
      border-bottom: 1px solid $main-black;
      margin: 5px 0;
      padding: 5px;
      outline: none;
      min-width: calc(100% - 150px);
      &:focus {
        background: #f4f4f4;
        transition: .5s;
      }
      @media #{$smallPhones} { width: 100%; }
    }
  }
}

// License update
#member-license-update {
  form {
    input { margin: 10px 0; }
    label {
      display: inline-block;
      min-width: 90px;
      @media #{$smallPhones} { min-width: 100%; }
    }
  }
}

// Content management
#admin-content {
  .content {
    h1 { margin: 5px 0; }
    form {
      label {
        display: inline-block;
        min-width: 100px;
        padding: 10px 0;
        vertical-align: top;
        text-align: center;
      }
      input, textarea {
        border: 1px solid #d8d8d8;
        min-width: calc(100% - 100px);
        outline: none;
        padding: 10px;
        text-align: justify;
      }
      textarea {
        min-height: 150px;
        max-height: 200px;
        max-width: calc(100% - 100px);
      }
    }
    table {
      border-collapse: collapse;
      width: 100%;
      td, th { border: 1px solid $main-black; }
      .hidden { display: none; }
    }
    .toggle-picture { cursor: pointer; }
  }
}

// Events
#admin-events-list {
  h1 { margin: 0; }
  .content {
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'l l l l l l l l r r r r';
    @media #{$smallPhones} { grid-template-areas: 'r r r r r r r r r r r r' 'l l l l l l l l l l l l'; }
    .left {
      grid-area: l;
      .admin-event {
        border-left: 3px solid white;
        padding: 10px 15px;
        &:hover { border-left: 3px solid #dd4444; }
      }
      .admin-event-header {
        h3 { margin: 5px 0;}
      }
      .admin-event-subscribers {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        p { margin: 0; }
      }
    }
    .admin-actions { grid-area: r; }
  }
}

// new event
#set-event {
  .content {
    form {
      label {
        display: inline-block;
        margin: 5px 0;
        min-width: 100px;
        padding: 7px;
        & + ul {
          background: #d9534f;
          color: ivory;
          list-style: none;
          padding: 5px;
          margin: 0;
        }
        @media #{$smallPhones} {
          margin: 0;
          min-width: 100%;
        }
      }
      input, textarea {
        margin: 10px 0;
        min-width: calc(100% - 130px);
        outline: none;
        padding: 5px 10px;
        @media #{$smallPhones} {
          margin: 0;
          min-width: 100%;
        }
      }
      textarea {
        line-height: 1.5;
        min-height: 150px;
        max-height: 250px;
        max-width: calc(100% - 130px);
        text-align: justify;
        vertical-align: top;
      }
      .event-dates {
        grid-gap: 10px;
        grid-template-columns: repeat(12, 1fr);
        text-align: center;
        @media #{$smallPhones} { grid-template-columns: 100%; }
        label {
          margin: 0;
          & + ul {
            background: #d9534f;
            color: ivory;
            list-style: none;
            padding: 5px;
            margin: 0 0 15px 0;
          }
        }
        & > div { margin: 10px 0 15px 0; }
        & > div:first-child {
          grid-column: 3 / 7;
          @media #{$smallPhones} { grid-column: 1 / -1; }
        }
        & > div:last-child {
          grid-column: 8 / -2;
          @media #{$smallPhones} { grid-column: 1 / -1; }
        }
      }
    }
  }
}

// News
#admin-news-list {
  h1 { margin: 0 0 30px 0; }
  .content {
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'l l l l l l l l r r r r';
    @media #{$smallPhones} { grid-template-areas: 'r r r r r r r r r r r r' 'l l l l l l l l l l l l'; }
    hr { margin: 30px 0; }
    .left { grid-area: l; }
    .admin-actions { grid-area: r; }
    .admin-news {
      .admin-news-header {
        h3 { margin: 5px 0 0 0; }
      }
    }
  }
}

// News read
#admin-news-read {
  .content {
    h1 {
      font-size: 3em;
      margin: 0;
    }
  }
}

// Set news
#set-news {
  .content {
    form {
      label {
        display: inline-block;
        margin: 5px 0;
        min-width: 80px;
        padding: 5px;
        text-align: center;
        vertical-align: top;
      }
      input[type="text"], textarea {
        margin: 5px 0;
        min-width: calc(100% - 80px);
        outline: none;
        padding: 5px;
      }
      textarea {
        max-width: calc(100% - 80px);
        max-height: 400px;
        min-height: 200px;
        text-align: justify;
      }
    }
  }
}