// Colors
$main-black: #333;

// Media queries
$smallPhones: 'screen and (max-width: 600px)';
$bigPhones: 'screen and (max-width: 768px)';
$biggerPhones: 'screen and (max-width: 900px)';
$tablet: 'screen and (max-width: 992px)';