@import 'variables', 'global/header', 'global/footer', 'index', 'event', 'news', 'savate', 'user', 'register-login', 'admin', 'contact';
@import url('https://fonts.googleapis.com/css?family=Patua+One');

* { box-sizing: border-box; }

html { height: 100%; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100vh;
}

h1, h2, h3, h4 { font-family: 'Patua One', cursive; }

main.main-wrapper { flex: 1; }

/* LAYOUT */
// CSS Grid Layout
.grid { display: grid; }
.grid-no-column { grid-template-columns: 100%; }
.grid-two-columns { grid-template-columns: repeat(2, 1fr); }
.grid-five-columns { grid-template-columns: repeat(5, 1fr); }
.grid-team-columns { grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)); }


// This needs the container height to be 100%;
.grid-vertical-center { align-content: center; }
.grid-horizontal-center { justify-content: center; }

// Flexbox
.flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Alignment and spacing
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-right { text-align: right; }
.text-italic { font-style: italic; }

.centered {
  max-width: 900px;
  margin: 0 auto;
}

.padding-left-right { padding: 20px 15px; }

// Links and buttons
.to-admin-link,
.content-link,
.black-link {
  font-weight: bold;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.to-admin-link, .content-link { color: #dd4444; }
.black-link { color: $main-black; }

.black-action-button {
  background: $main-black;
  &:hover { background: lighten($main-black, 5%); }
}

.to-admin-button, .action-button {
  background: #dd4444;
  &:hover { background: lighten(#dd4444, 5%); }
}

.black-action-button, .to-admin-button, .action-button {
  border-radius: 10px;
  color: ivory;
  display: inline-block;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px 15px;
  text-decoration: none;
}

// List
.list-unstyled {
  list-style-type: none;
  padding: 0;
}

// Flash messages
.flash-success {
  background: #5cb85c;
  color: azure;
  padding: 10px 15px;
}

.buttons {
  border-top: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 0;
}

// Admin actions
.admin-actions {
  border-radius: 10px;
  padding: 10px;
  a {
    border-radius: 10px;
    color: ivory;
    display: inline-block;
    font-family: 'Patua One', cursive;
    margin: 5px 0;
    padding: 20px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    &.create { background: #dd4444; }
    &.back { background: $main-black; }
  }
}

label + ul {
  background: #d9534f;
  color: white;
  list-style: none;
  margin: 5px 0 10px 0;
  padding: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background: #000;
    color: #fff;
    font-size: .9em;
    text-align: center;
    padding: 1px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}