@import url("https://fonts.googleapis.com/css?family=Patua+One");
.topnav {
  overflow: hidden; }
  .topnav .brand {
    font-family: 'Patua One', 'Helvetica Neue', sans-serif;
    text-transform: uppercase; }
  .topnav .links {
    float: right; }
    @media screen and (max-width: 900px) {
      .topnav .links {
        float: none; } }
  .topnav a {
    color: #333;
    display: block;
    float: left;
    font-size: 16px;
    padding: 14px 13px;
    text-align: center;
    text-decoration: none; }
    .topnav a:not(.brand):hover {
      background: #f2f2f2; }
    @media screen and (max-width: 900px) {
      .topnav a:not(.brand) {
        display: none; }
      .topnav a.icon {
        display: block;
        float: right; } }
  .topnav .icon {
    cursor: pointer;
    display: none; }
  @media screen and (max-width: 900px) {
    .topnav.responsive {
      position: relative; }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0; }
    .topnav.responsive a {
      display: block;
      float: none;
      text-align: left; } }

#homepage .main-wrapper .intro-img {
  align-items: center;
  background: #3f4e5e;
  background: url("../images/training.jpg") no-repeat 100%;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  text-align: center; }
  #homepage .main-wrapper .intro-img h1 {
    font-size: 4em;
    line-height: 1.5em;
    margin: 0;
    text-shadow: 0 0 30px #000; }
    @media screen and (max-width: 900px) {
      #homepage .main-wrapper .intro-img h1 {
        font-size: 3em; } }
    @media screen and (max-width: 768px) {
      #homepage .main-wrapper .intro-img h1 {
        font-size: 2em; } }
#homepage .main-wrapper section {
  padding: 50px 0; }
  #homepage .main-wrapper section h2 {
    font-size: 2em;
    margin: 5px 0;
    text-transform: uppercase; }
  #homepage .main-wrapper section p {
    line-height: 1.5; }
  #homepage .main-wrapper section:not(:last-child):not(:first-child) {
    margin: 0 0; }
  #homepage .main-wrapper section .content {
    margin-bottom: 20px;
    min-height: 200px; }
#homepage .main-wrapper .introduction .content,
#homepage .main-wrapper .events .content,
#homepage .main-wrapper .news .content {
  grid-gap: 20px; }
@media screen and (max-width: 900px) {
  #homepage .main-wrapper .introduction .content {
    grid-template-columns: 100%;
    grid-template-rows: 250px auto; } }
#homepage .main-wrapper .introduction .img {
  background: url("../images/salle.jpg") no-repeat center; }
  @media screen and (max-width: 900px) {
    #homepage .main-wrapper .introduction .img {
      background-position: center 80%; } }
#homepage .main-wrapper .informations {
  background: #333;
  background: url("../images/dark-pattern-3.jpg");
  background-size: cover;
  color: #f2f2f2; }
  #homepage .main-wrapper .informations .content {
    align-content: center; }
#homepage .main-wrapper .team p {
  margin: 0; }
#homepage .main-wrapper .team h2 {
  margin: 0; }
#homepage .main-wrapper .team .team-members {
  grid-gap: 20px;
  height: 100%; }
  #homepage .main-wrapper .team .team-members .member p {
    margin: 5px 0; }
  #homepage .main-wrapper .team .team-members img {
    border-radius: 10px;
    height: 170px;
    width: 170px; }
#homepage .main-wrapper .news {
  background: url("../images/dark-pattern.png") fixed;
  background-size: cover;
  color: white;
  height: 100%; }
  @media screen and (max-width: 900px) {
    #homepage .main-wrapper .news .content {
      grid-template-columns: 100%; } }
  #homepage .main-wrapper .news .content .homepage-news h3 {
    margin-bottom: 5px; }
  #homepage .main-wrapper .news .content .homepage-news .news-content {
    padding: 15px 0; }
#homepage .main-wrapper .events {
  height: 100%; }
  @media screen and (max-width: 768px) {
    #homepage .main-wrapper .events .content {
      grid-template-columns: 100%; } }
  #homepage .main-wrapper .events .content .homepage-events {
    border: 1px solid #333;
    padding: 5px; }
    #homepage .main-wrapper .events .content .homepage-events h3 {
      margin-bottom: 5px; }

#event .main-wrapper h1,
#archives .main-wrapper h1 {
  text-transform: uppercase; }
#event .main-wrapper p,
#archives .main-wrapper p {
  line-height: 1.5; }
#event .main-wrapper h2,
#archives .main-wrapper h2 {
  margin: 5px 0; }
#event .main-wrapper hr,
#archives .main-wrapper hr {
  border: 1px solid #d8d8d8;
  margin: 30px 0; }
#event .main-wrapper .event,
#archives .main-wrapper .event {
  position: relative;
  margin-top: 30px; }

#event .main-wrapper .event h3 {
  margin: 5px 0; }
#event .main-wrapper .event .event-content {
  line-height: 1.5; }
#event .main-wrapper .event .date {
  background: #333;
  border-radius: 0 13px 0 15px;
  color: white;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0; }
  @media screen and (max-width: 600px) {
    #event .main-wrapper .event .date {
      display: none; } }
#event .main-wrapper .current h2 {
  margin: 0; }
#event .main-wrapper .current .event {
  border: 1px solid #333;
  border-radius: 15px;
  padding: 10px 15px; }

#news .main-wrapper .content h1 {
  text-transform: uppercase; }
#news .main-wrapper .content article {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px; }
  #news .main-wrapper .content article h3 {
    margin: 0 0 10px 0; }
  #news .main-wrapper .content article .news-content {
    line-height: 1.5; }

#read-news .main-wrapper .content .news-header h1 {
  color: #dd4444;
  font-size: 3em;
  margin-bottom: 10px;
  text-transform: uppercase; }
#read-news .main-wrapper .content .news-header small {
  font-size: 1em; }
#read-news .main-wrapper .content .news-content {
  line-height: 1.7; }

#savate .main-wrapper .information {
  background: rgba(221, 68, 68, 0.5);
  border: 1px solid #9e1d1d;
  border-radius: 5px;
  line-height: 1.5;
  padding: 10px; }

#profile .main-wrapper .profile-header {
  background: #333;
  margin-bottom: 20px;
  padding: 20px 0; }
  #profile .main-wrapper .profile-header h1 {
    color: white;
    text-transform: uppercase; }
  #profile .main-wrapper .profile-header figure {
    display: inline-block;
    margin: 0 auto;
    position: relative; }
    #profile .main-wrapper .profile-header figure img {
      vertical-align: middle; }
    #profile .main-wrapper .profile-header figure:hover .overlay {
      opacity: 1; }
    #profile .main-wrapper .profile-header figure .overlay {
      background: #dd4444;
      color: white;
      cursor: pointer;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: .5s ease; }
      #profile .main-wrapper .profile-header figure .overlay > div {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  #profile .main-wrapper .profile-header form {
    display: none; }
#profile .main-wrapper .profile-content {
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "i i i i i i i i l l l l" "e e e e e e e e l l l l";
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    #profile .main-wrapper .profile-content {
      grid-template-areas: 'i i i i i i i i i i i i' 'e e e e e e e e e e e e' 'l l l l l l l l l l l l'; } }
  #profile .main-wrapper .profile-content > section {
    box-shadow: 0 0 4px 1px #d8d8d8;
    line-height: 1.5;
    padding: 10px; }
    #profile .main-wrapper .profile-content > section h2 {
      margin-top: 0; }
    #profile .main-wrapper .profile-content > section h4 {
      margin: 0; }
  #profile .main-wrapper .profile-content .info {
    grid-area: i; }
  #profile .main-wrapper .profile-content .licenses {
    grid-area: l; }
  #profile .main-wrapper .profile-content .events {
    grid-area: e; }
    #profile .main-wrapper .profile-content .events .events-container .profile-event {
      border: 1px solid #333;
      border-radius: 10px;
      padding: 5px;
      transition: 1s; }
      #profile .main-wrapper .profile-content .events .events-container .profile-event:hover {
        transition: .5s;
        background: #f8f8f8; }
      #profile .main-wrapper .profile-content .events .events-container .profile-event ul {
        margin: 0; }
        #profile .main-wrapper .profile-content .events .events-container .profile-event ul img {
          border-radius: 5px;
          height: 30px;
          vertical-align: middle;
          width: 30px; }
        #profile .main-wrapper .profile-content .events .events-container .profile-event ul a {
          display: inline-block;
          padding: 0;
          margin: 0; }
        #profile .main-wrapper .profile-content .events .events-container .profile-event ul li {
          display: inline;
          margin: 0;
          padding: 0; }
      #profile .main-wrapper .profile-content .events .events-container .profile-event:not(:last-child) {
        margin-bottom: 10px; }

#registration-page .content {
  grid-gap: 30px;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px; }
  @media screen and (max-width: 768px) {
    #registration-page .content {
      grid-template-columns: 100%;
      grid-gap: 10px; } }
#registration-page .registration-form {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px; }
  @media screen and (max-width: 768px) {
    #registration-page .registration-form {
      margin-top: 20px; } }
  #registration-page .registration-form h1 {
    margin-top: 10px;
    text-transform: uppercase; }
  #registration-page .registration-form form label, #registration-page .registration-form form input {
    padding: 5px 0; }
  #registration-page .registration-form form label {
    display: block;
    margin-top: 10px; }
    #registration-page .registration-form form label + ul {
      background: #d9534f;
      color: white;
      list-style: none;
      margin: 5px 0 10px 0;
      padding: 10px; }
  #registration-page .registration-form form input {
    border: 1px solid #333;
    border-radius: 10px;
    font-family: "Patua One", cursive;
    min-width: 100%;
    outline: none;
    padding: 5px; }
  #registration-page .registration-form form button {
    border: none;
    margin-top: 20px; }
#registration-page .registration-information h3 {
  margin: 15px 0; }
#registration-page .registration-information a {
  display: inline-block;
  width: 100%; }
#registration-page .registration-information ul {
  list-style: none;
  padding: 0;
  line-height: 1.5; }

#login-page hr {
  border: 1px solid #d7d7d7; }
#login-page .content {
  margin-top: 20px; }
  #login-page .content .error-message {
    background: #d9534f;
    color: white;
    padding: 10px; }
  #login-page .content h1 {
    margin: 0 0 15px 0; }
  #login-page .content .login-form {
    padding: 10px 0; }
    #login-page .content .login-form label {
      display: inline-block;
      text-align: center;
      width: 120px; }
      @media screen and (max-width: 600px) {
        #login-page .content .login-form label {
          width: 100%; } }
    #login-page .content .login-form input {
      outline: none;
      padding: 5px;
      margin: 5px 0; }
      @media screen and (max-width: 600px) {
        #login-page .content .login-form input {
          width: 100%; } }
    #login-page .content .login-form button {
      border: none;
      cursor: pointer; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  min-height: 100vh;
  font-family: 'PT Sans', 'Arial', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Patua One', cursive; }

main.main-wrapper {
  flex: 1; }

/* LAYOUT */
.grid {
  display: grid; }

.grid-no-column {
  grid-template-columns: 100%; }

.grid-two-columns {
  grid-template-columns: repeat(2, 1fr); }

.grid-five-columns {
  grid-template-columns: repeat(5, 1fr); }

.grid-team-columns {
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)); }

.grid-vertical-center {
  align-content: center; }

.grid-horizontal-center {
  justify-content: center; }

.flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-right {
  text-align: right; }

.text-italic {
  font-style: italic; }

.centered {
  max-width: 900px;
  margin: 0 auto; }

.padding-left-right {
  padding: 20px 15px; }

.to-admin-link,
.content-link {
  color: #dd4444;
  font-weight: bold;
  text-decoration: none; }
  .to-admin-link:hover,
  .content-link:hover {
    text-decoration: underline; }

.black-action-button {
  background: #333; }
  .black-action-button:hover {
    background: #404040; }

.to-admin-button, .action-button {
  background: #dd4444; }
  .to-admin-button:hover, .action-button:hover {
    background: #e15a5a; }

.black-action-button, .to-admin-button, .action-button {
  border-radius: 10px;
  color: ivory;
  display: inline-block;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px 15px;
  text-decoration: none; }

.list-unstyled {
  list-style-type: none;
  padding: 0; }

.flash-success {
  background: #5cb85c;
  color: azure;
  padding: 5px 0; }

#event .main-wrapper .buttons,
#archives .main-wrapper .buttons,
#news .main-wrapper .buttons,
#read-news .main-wrapper .buttons,
#savate .main-wrapper .buttons {
  border-top: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 10px 0; }

/*# sourceMappingURL=main.css.map */
