{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('admin.index') }}">Membres</a></li>
        <li><a href="{{ path('admin.content') }}">Contenu du site</a></li>
        <li><a href="{{ path('admin.event') }}">Évènements</a></li>
        <li><a href="{{ path('admin.news') }}">Actualités</a></li>
    </ul>

    {% block admin_body %}{% endblock %}
{% endblock %}