{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('admin.index') }}">Members</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Team</a></li>
    </ul>

    {% block admin_body %}{% endblock %}
{% endblock %}