{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('admin.index') }}">Members</a></li>
        <li><a href="{{ path('admin.content') }}">Content</a></li>
        <li><a href="{{ path('admin.event') }}">Events</a></li>
        <li><a href="{{ path('admin.news') }}">News</a></li>
        <li><a href="#">Team</a></li>
    </ul>

    {% block admin_body %}{% endblock %}
{% endblock %}