{# templates/emails/contact.html.twig #}
<h1>Nouveau message de {{ contact.firstname|capitalize ~ ' ' ~ contact.lastname|capitalize }}</h1>
<h3>Objet : {{ contact.subject }}</h3>
<h4>Envoyé le : {{ contact.sendAt|date('d/m/Y à H:i') }}</h4>

<p>
    Contenu du message :<br><br>

    {{ contact.content }}
</p>