<h1>Cher {{ user.firstname|capitalize }},</h1>

<p>
    Après avoir été vérifiée par un administrateur, <strong>votre inscription sur le site de l'Association Massingienne de Savate a été rejetée</strong>.
    Il semble que vous ne soyez pas membre de l'association. Or, l'inscription est réservée aux personnes qui y sont inscrites. Par conséquent,
    nous ne pouvons accepter votre inscription sur le site.
</p>
<p>
    Si toutefois vous venez de vous inscrire à l'association et que votre inscription sur le site a été refusée, nous vous présentons nos excuses et vous
    demandons de vous inscrire à nouveau.
</p>

<br>

<p>Sportivement.</p>

<p>L'équipe</p>

<hr>

<small>
    Cet e-mail est envoyé automatiquement suite à la validation de votre compte par un administrateur du site.
    Il est inutile d'y répondre. Merci !
</small>