<h1>Cher {{ user.firstname|capitalize }},</h1>

<p><strong>Votre inscription sur le site de l'Association Massingienne de Savate a été validée</strong>.</p>
<p>
    Vous pouvez dès à présent vous connecter à <a href="{{ url('security.login') }}">votre compte</a>
    en utilisant l'adresse e-mail et le mot de passe renseignés lors du processus d'inscription.
</p>

<p>
    Dans l'éventualité où vous rencontreriez des soucis pour vous connecter, n'hésitez pas à nous contacter via
    le formulaire de contact du site.
</p>

<br>

<p>Sportivement.</p>

<p>L'équipe</p>

<hr>

<small>
    Cet e-mail est envoyé automatiquement suite à la validation de votre compte par un administrateur du site.
    Il est inutile d'y répondre. Merci !
</small>