<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Savate Massingienne{% endblock %}</title>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}">
        {% block header %}
            {{ include('includes/header.html.twig') }}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include('includes/footer.html.twig') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
