{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Erreur ! - {{ parent() }}{% endblock %}

{% block body %}
    <main class="main-wrapper">
        <div class="content centered padding-left-right">
            <h1 class="text-center">Erreur {{ status_code }} !</h1>

            <p>
                La page que vous cherchez n'existe pas ou plus. <a href="{{ path('app.index') }}" class="content-link">Retourner à l'accueil</a>
            </p>
        </div>
    </main>
{% endblock %}